@import url('iniciocss.css');
@import url('menucss.css');

@media (min-width: 600px) {

.maparesponsivo{
   

}
.maparesponsivo iframe{
 
    height:80%;
    width:450px;

}

}


.maparesponsivo{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

}
.maparesponsivo iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


p{
    text-align: justify;
}
